@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #171717;
  --bg-light-color: #2c2c2c;
  --primary-color: #eaeaea;
  --secondary-color: #ff7104;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Montserrat";
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container-xxl {
  width: 100%;
  max-width: 1200px;
}

a:hover {
  color: var(--secondary-color);
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-light-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.header__container {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  width: 100%;
  max-width: 1400px;
}

.header__brand {
  font-weight: 700;
  font-size: 2rem;
}

.header__nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

/* HERO */
.hero {
  height: 100vh;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
}
